footer
	background-color: $purple
.footer__content
	padding-top: 61px
	&__links
		display: flex
		justify-content: space-between
		align-items: center
		padding-bottom: 41px
	&__contact
		margin-top: 43px
		margin-bottom: 62px
		display: flex
		justify-content: space-between
		align-items: center
		color: #dfdaed
		font-size: 16px