@import "variables.sass"
footer
	background-color: $purple
.footer__content
	padding-top: 61px
	&__links
		display: flex
		justify-content: space-between
		align-items: center
		padding-bottom: 41px
	&__contact
		margin-top: 43px
		padding-bottom: 40px
		display: flex
		justify-content: space-between
		align-items: center
		color: #dfdaed
		font-size: 16px
.line 
	height: 1px
	opacity: 0.2
	background-color: #ffffff
.soc-links
	font-size: 22px
	padding: 0 10px
	@media (max-width: 600px) 
		font-size: 20px
img.soc-links
	transform: scale(1.45)
	margin-top: 7px
	@media (max-width: 600px) 
		transform: scale(1.4)

@media (max-width: 600px) 
	.footer__nav__main-links
		display: flex
		flex-direction: column
	.footer__nav__main-link
		margin-top: 8px
	.footer__content__contact
		flex-direction: column
		&__copyright
			margin-top: 30px
	.footer__nav__info__media
		width: 400px
	.footer__nav__info__media
		margin-left: 18px
@media(max-width: 1191px)
	.footer__content
		padding: 61px 15px 0px 15px