@import "variables.sass"
@import "nav.sass"
@import "footer.sass"
body
	font-family: Roboto
header
	height: 100vh
	background-image: url(../img/golden-gate-2.jpg)
	background-repeat: no-repeat
	background-size: 100%
	transition: background-image 0.5s linear
	background-size: cover
	background-position: center center
	background-attachment: fixed
a
	text-decoration: none
	color: #E3D0FD
.context-header
	color: #3e3e3e
	font-size: 34px
.button
	text-align: center
	font-size: 18px
	font-weight: 400
	line-height: 1.33
	padding: 12px
	display: inline-block
	color: #fff
	background-color: #fb4381
	border-radius: 3px
	box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.25)
	&:hover
		transform: scale(1.1)
.button-o
	text-align: center
	border: 0
	color: #fb4381
	font-size: 18px
	font-weight: 400
	line-height: 1.33
	padding: 12px
	background-color: #fff
	border-radius: 3px
	box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.25)
	width: 118px
	height: 51px
	&:hover
		transform: scale(1.1)

.fa 
	font-size: 14px
.container
	padding: 0 15px
	max-width: 1170px
	margin: auto
	height: 100%	
.header__slider
	display: flex
	justify-content: space-between
	margin-top: 200px
	&-button
		cursor: pointer
		color: #fff
		background-color: rgba(127,127,127, 0.5)
		font-size: 40px
		width: 80px
		height: 80px
		display: flex
		justify-content: center
		align-items: center
	&-button:hover
		transform: scaleY(1.15)
	&__context
		position: absolute
		top: calc(100vh - 145px)
		background-color: #fff
		box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.15)
		height: 145px
		width: 100%
		&-content
			display: flex
			align-items: center
			justify-content: space-between
			height: 100%
		&-name
			font-size: 34px
			font-weight: 500
			color: #616161
			flex: 0 0 240px
			@media (max-width: 745px)
				flex: 0
		&-text
			color: #8c8c8c
			font-size: 16px
			text-align: center
			line-height: 1.63
			padding: 0 30px
			flex: 1 0
			min-width: 0
		&-button-wrapper
			flex: 0 0 240px
			text-align: right
			@media (max-width: 745px)
				flex: 0
		&-button
			min-width: 140px
.advice
	background-color: #fafafa
	&-content
		padding-top: 120px
		display: flex
		flex-direction: column
		align-items: center
	&__header
		font-size: 46px
		text-align: center
	&__text
		max-width: 926px
		font-size: 18px
		line-height: 1.61
		color: #777
		text-align: center
		margin-top: 37px
	&__sections
		margin-top: 71px
		width: 100%
		display: flex
		justify-content: space-between
		flex-wrap: wrap
	&__section
		&-image
			display: block
			margin: 0 auto
		&-header
			margin-top: 18px
			font-size: 22px
			text-align: center
		&-text
			margin-top: 16px
			font-size: 15px
			line-height: 1.73
			width: 240px
			text-align: center
			color: #8c8c8c
	&__difficult
		background-color: $purple
		height: 145px
		margin-top: 120px
		&-box
			height: 100%
			display: flex
			align-items: center
		&-content
			width: 100%
			display: flex
			flex-wrap: wrap
			height: 27px
			justify-content: space-between
			align-items: center
		&__text
			color: #fff
			font-size: 34px
.destinations
	background-color: #fafafa
	padding-bottom: 98px
	&-content
		padding-top: 96px
	&__header
	&__sections
		margin-top: 62px
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		&__row
			width: 100%
			display: flex
			flex-wrap: wrap
			justify-content: space-between
	&__section
		border-radius: 3px
		box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.15)
		background-color: #ffffff
		margin-top: 30px
		position: relative
		overflow: hidden	
		&__context
			padding-bottom: 18px
			&-up
				margin-top: 24px	
				display: flex
				align-items: center
				margin-left: 22px
			&__image
				border-radius: 3px
				max-width: 100%
				height: auto
				display: block
			&__header
				font-size: 22px
			&__price
				font-size: 17px
				color: $purple
				margin-left: 10px
			&__text
				font-size: 14px
				line-height: 1.47
				color: #8c8c8c
				//width: 310px
				//margin: 21px 33px 22px 21px		
			&__button
				max-width: 155px
				padding: 14px 19px 16px 19px
				font-size: 16px
				margin-left: 22px	
.discounts
	background-color: #fff
	&-content
		width: 100%
		display: flex
		margin-top: 64px
		margin-bottom: 58px
		justify-content: space-between
	&-content form
		display: flex
		justify-content: flex-end
		align-items: center
	&-header
		margin-top: 10px
	&-email
		margin-right: 20px
		width: 288px
		height: 30px
		outline: none
		border: 0
		border-bottom: 1px solid  #e1e1e1
		color: #000
		font-size: 18px
.testimonials
	padding-bottom: 130px
	padding-top: 97px
	background-color: #fafafa
	&__header
	&__cards
		margin-top: 68px
		display: flex
		flex-wrap: wrap
		justify-content: space-between
	&__card
		max-width: 560px	
		background-color: #fff
		border-radius: 3px
		box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.15)
		margin-bottom: 30px
		padding: 10px 12px 25px 12px
		&__content
			padding-top: 30px
			margin: 0 auto
		&__context
			float: right
			&__text
				color: #8c8c8c	
				font-size: 15px
				line-height: 1.47
				padding-bottom: 25px
				border-bottom: 1px solid #eaeaea
				margin-bottom: 25px
				max-width: 386px
				margin-left: 27px
				margin-right: 31px
			&__author
				display: inline
				color: #3e3e3e
				font-size: 15px
				font-weight: 500
				margin-left: 27px
			&__author-job
				font-size: 15px
				color: #3e3e3e
@media (max-width: 510px)
	.header__slider
		margin-top: 40%
@media (max-width: 800px)
	.discounts
		&-content
			display: block
		&-content form
			margin-top: 20px
			flex-direction: column
			justify-content: space-between
		&-button 
			margin-top: 8px
		&-header
			text-align: center
			margin-left: 3px
			font-size: 26px
			margin-bottom: 8px
		&-email //width: ...
			margin-left: 3px

@media (max-width: 745px) 
	.testimonials__card__img
		display: block
		margin: 0 auto
		margin-bottom: 15px
	.header__slider-button
		transform: scale(0.8)
		&:hover
			transform: scale(0.8)
	.testimonials
		padding-bottom: 70px
	.advice__section
		margin-top: 28px
	.header__slider__context-name
		margin-top: 4px
	.header__slider__context-button
		margin: 5px 0px
	.header__slider__context
		height: auto
		&-content
			flex-direction: column

	.destinations__sections
		justify-content: center
	.advice__sections
		align-items: center
		flex-direction: column
@media (max-width: 900px)
	.advice__difficult
		height: 200px
		&-content
			height: 100%
		&__text
			text-align: center
			margin: 0 auto
		&__button
			margin: 0 auto
			margin-top: -10px
.cope_text 
	overflow: hidden
	line-height: 20px

.cope_text p 
	margin: 0 0 0 0

.line-clamp 
	display: -webkit-box
	-webkit-line-clamp: 3
	-webkit-box-orient: vertical
	max-width: 310px
	margin: 21px 33px 22px 21px	
@media(max-width: 976px)
	.advice__sections
		justify-content: center
	.advice__section:last-child
		margin-top: 20px
	.destinations__header
		text-align: center
@media(max-width: 1170px)
	.advice__text
		padding: 5px
	.testimonials__card
		margin: 0 auto
		margin-top: 30px
//@media(max-width: 1132px)
@media(max-width: 1191px)
	.destinations__sections
		justify-content: center
	.destinations__section
		margin: 30px 15px 0px 15px
	.destinations__header
		text-align: center
	.testimonials__header
		text-align: center
	.discounts-content
		width: 80%
		margin-left: auto
		margin-right: auto
.stop-scroll
	position: fixed
	width: 100%
