@import "variables.sass"
@import "nav.sass"
@import "footer.sass"
@import "breadcrumbs.sass"
body
	background-color: #fafafa
	font-family: Roboto
a
	text-decoration: none
	color: #E3D0FD
.container
	padding: 0 15px
	max-width: 1170px
	margin: auto
	height: 100%	
.testimonials-header
	color: #3e3e3e
	font-size: 40px
	margin-top: 23px
.testimonials
	max-width: 756px
	padding-bottom: 130px
	background-color: #fafafa
	&__header
	&__cards
		display: flex
		flex-wrap: wrap
		justify-content: space-between
	&__card
		max-width: 756px	
		background-color: #fff
		border-radius: 3px
		box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.15)
		margin-bottom: 30px
		padding: 10px 12px 25px 12px
		&__content
			padding-top: 30px
			margin: 0 auto
		&__context
			float: right
			&__text
				color: #8c8c8c	
				font-size: 15px
				line-height: 1.47
				padding-bottom: 25px
				border-bottom: 1px solid #eaeaea
				margin-bottom: 25px
				max-width: 582px
				margin-left: 27px
				margin-right: 31px
			&__author
				display: inline
				color: #3e3e3e
				font-size: 15px
				font-weight: 500
				margin-left: 27px
			&__author-job
				font-size: 15px
				color: #3e3e3e
aside
.aside-block
	margin-top: 30px
	max-width: 364px
	background-color: #fff
	box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.15)
	border-radius: 3px
	&__content
		padding: 30px
	&:first-child
		margin-top: 0px
.aside-list
	list-style-type: circle
	color: #fb4381
	margin-left: 20px
	font-size: 22px
	&-header
		margin-bottom: 29px
		color: #3e3e3e
		font-size: 22px
	&__item
		margin-top: 10px
		&__link
			font-size: 18px
			color: $purple
.aside-recent
	&__header
		margin-bottom: 0
	&-posts__posts
		&__post
			padding: 30px 0px
			&__header
				color: $purple
				font-size: 16px
				line-height: 1.25
			&__description
				margin-top: 10px
				line-height: 1.5
				color: #8c8c8c
				font-size: 14px
			&__data
				font-size: 12px
				margin-top: 10px
				font-weight: bold
				color: #8c8c8c

.main
	margin-top: 50px
	display: flex
	justify-content: space-between
	padding-bottom: 100px
.line
	width: 90%
	height: 1px
	background-color: #8c8c8c
	margin: 0 auto