footer
  .container
    .footer__content
      .footer__content__links
        .nav__main-links.footer__nav__main-links
          a.nav__main-link.footer__nav__main-link(href='index.html') Home
          a.nav__main-link.footer__nav__main-link(href='faq.html') About
          a.nav__main-link.footer__nav__main-link(href='destinations.html') Destinations
          a.nav__main-link.footer__nav__main-link(href='gallery.html') Gallery
          a.nav__main-link.footer__nav__main-link(href='blog.html') Blog
          a.nav__main-link.footer__nav__main-link(href='contacts.html') Contants
        .nav__info__media.footer__nav__info__media
          a(href='#')
            img.soc-links(style='width: 7px; height: 15px;' src='img/facebook-logo.svg' alt='p')
          a(href='#')
            img.soc-links(style='width: 12px; height: 15px;' src='img/p.svg' alt='p')
          a(href='#')
            img.soc-links(style='width: 16px; height: 13px;' src='img/twitter-logo.svg' alt='p')
          a(href='#')
            img.soc-links(style='width: 16px; height: 14px;' src='img/vimeo-icon.svg' alt='p')
          a(href='#')
            img.soc-links(style='width: 15px; height: 15px;' src='img/icon.svg' alt='p')
          a(href='#')
            img.soc-links(style='width: 16px; height: 15px;' src='img/google.svg' alt='google')
      .line
      .footer__content__contact
        span.footer__content__contact__addres
          | St Stephen&apos;s House, Colston Ave, Bristol BS1 4ST, UK  /  Telephone: +1 800 603 6035
        span.footer__content__contact__copyright &copy; 2015 TripWay - Material UI Template.