footer
  .container
    .footer__content
      .footer__content__links
        .nav__main-links.footer__nav__main-links
          a.nav__main-link.footer__nav__main-link(href='index.html') Home
          a.nav__main-link.footer__nav__main-link(href='faq.html') About
          a.nav__main-link.footer__nav__main-link(href='destinations.html') Destinations
          a.nav__main-link.footer__nav__main-link(href='gallery.html') Gallery
          a.nav__main-link.footer__nav__main-link(href='blog.html') Blog
          a.nav__main-link.footer__nav__main-link(href='contacts.html') Contants
        .nav__info__media.footer__nav__info__media
          a(href='#')
            i.fa.fa-facebook(aria-hidden='true')
          a(href='#')
            img(style='transform: scale(0.9); margin-top: 7px;' src='img/p.svg' alt='p')
          a(href='#')
            i.fa.fa-twitter(aria-hidden='true')
          a(href='#')
            i.fa.fa-vine(aria-hidden='true')
          a(href='#')
            i.fa.fa-instagram(aria-hidden='true')
          a(href='#')
            img(style='transform: scale(0.9); margin-top: 7px;' src='img/google.svg' alt='p')
      .line
      .footer__content__contact
        span.footer__content__contact__addres
          | St Stephen&apos;s House, Colston Ave, Bristol BS1 4ST, UK  /  Telephone: +1 800 603 6035
        span.footer__content__contact__copyright &copy; 2015 TripWay - Material UI Template.