.nav
  .nav__info
    .container
      .nav__info-content
        .nav__info__communication
          span.nav__info__communication-email
            i.fa.fa-envelope.nav__info__communication-icon(aria-hidden='true')
            a(href='mailto:greedrussell@gmail.com') Info@tripway.com
          span.nav__info__communication-phone
            i.fa.fa-phone.nav__info__communication-icon(aria-hidden='true')
            a(href='tel:+3212334567') +321 233 4567
        .nav__info__media
          a(href='#')
            img.soc-links(style='width: 7px; height: 15px;' src='img/facebook-logo.svg' alt='p')
          a(href='#')
            img.soc-links(style='width: 12px; height: 15px;' src='img/p.svg' alt='p')
          a(href='#')
            img.soc-links(style='width: 16px; height: 13px;' src='img/twitter-logo.svg' alt='p')
          a(href='#')
            img.soc-links(style='width: 16px; height: 14px;' src='img/vimeo-icon.svg' alt='p')
          a(href='#')
            img.soc-links(style='width: 15px; height: 15px;' src='img/icon.svg' alt='p')
          a(href='#')
            img.soc-links(style='width: 16px; height: 15px;' src='img/google.svg' alt='google')
  .nav__main
    .container
      .nav__main-content
        img#modal-open-button.nav__main-hamburger(src='img/MenuIconpx.png' alt='click')
        .nav__main-logo
          img.nav__main-logo-img(src='img/logo.svg' alt='logo' height='40' width='40')
          |  TripWay
        .nav__main-links.header__nav__main-links
          a.nav__main-link(href='index.html') Home
          ul.nav__main__hides#nav__main__hides
            li
              a.nav__main-link.nav__main-link__active.nav__main-link__about#nav__main-link__active(href='faq.html') About
            li
              a.nav__main-link.nav__main-link__hide#nav__main__hides-link-about(href='faq.html') About
          a.nav__main-link(href='destinations.html') Destinations
          a.nav__main-link.nav__main-link__active.nav__main-link__about(href='gallery.html') Gallery
          a.nav__main-link(href='blog.html') Blog
          a.nav__main-link(href='contacts.html') Contants