#modal-menu.modal-menu
  #modal-menu-content.modal-menu-content
    button#modal-close-button.modal-menu-content-close &times;
    .nav__main-links.modal__nav-links
      a.nav__main-link(href='index.html') Home
      a.nav__main-link(href='faq.html') About
      a.nav__main-link(href='destinations.html') Destinations
      a.nav__main-link(href='gallery.html') Gallery
      a.nav__main-link(href='blog.html') Blog
      a.nav__main-link(href='contacts.html') Contants
    .nav__info__communication.modal-menu__communication
      span.nav__info__communication-email
        i.fa.fa-envelope.nav__info__communication-icon(aria-hidden='true')
        a(href='mailto:greedrussell@gmail.com') Info@tripway.com
      span.nav__info__communication-phone
        i.fa.fa-phone.nav__info__communication-icon(aria-hidden='true')
        a(href='tel:+3212334567') +321 233 4567