extends ../_layouts/main
block inHead
	link(rel = "stylesheet" href = "css/faq.css")
	title FAQ

block content
	.breadcrumbs
		.container
			.breadcrumbs__item Home
	h1.faq-header
		.container
			| FAQ
	.faq
		.container
			.faq__item
				.faq__item__question
					span.faq__item__indicator Q:
					p.faq__item__question__text
						| Integer rutrum ante eu lestibulum libero nisl porta vel scelerisque eget malesuada at neque. Vivamus eget nibh?
				.question-line
				.faq__item__answer
					span.faq__item__indicator A:
					p.faq__item__answer__text
						| Donec eget tellus non erat lacinia fermentum. Donec in velit vel ipsum auctorulvinar. Proin ullamcorper urna et tibulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod consequat ante. Lorem ipsum dolor sit amet consectetuer adipiscing elit. Pellentese sed dolor. Aliquam congue fermentum nisl. Mauris accumsan nullael diam. Sed in lacus ut enim adipiscing aliquet. Donec eget tellus non erat lacinia fermentum. Donec in velit vel ipsum auctorulvinar. Proin ullamcorper urna et tibulum iaculis lacinia est.
			.faq__item
				.faq__item__question
					span.faq__item__indicator Q:
					p.faq__item__question__text
						| Integer rutrum ante eu libero nisl porta vel scelerisque eget malesuada at neque?
				.question-line
				.faq__item__answer
					span.faq__item__indicator A:
					p.faq__item__answer__text
						| Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio gravida atcursus nec luctus a lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor dapibus eget elementum vel cursus eleifend elit.
			.faq__item
				.faq__item__question
					span.faq__item__indicator Q:
					p.faq__item__question__text
						| Integer rutrum ante eu lestibulum libero nisl porta vel scelerisque eget malesuada at neque. Vivamus eget nibh?
				.question-line
				.faq__item__answer
					span.faq__item__indicator A:
					p.faq__item__answer__text
						| Donec eget tellus non erat lacinia fermentum. Donec in velit vel ipsum auctorulvinar. Proin ullamcorper urna et tibulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod consequat ante. Lorem ipsum dolor sit amet consectetuer adipiscing elit. Pellentese sed dolor. Aliquam congue fermentum nisl. Mauris accumsan nullael diam. Sed in lacus ut enim adipiscing aliquet. Donec eget tellus non erat lacinia fermentum. Donec in velit vel ipsum auctorulvinar. Proin ullamcorper urna et tibulum iaculis lacinia est.
			.faq__item
				.faq__item__question
					span.faq__item__indicator Q:
					p.faq__item__question__text
						| Integer rutrum ante eu libero nisl porta vel scelerisque eget malesuada at neque?
				.question-line
				.faq__item__answer
					span.faq__item__indicator A:
					p.faq__item__answer__text
						| Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio gravida atcursus nec luctus a lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor dapibus eget elementum vel cursus eleifend elit.
			.faq__item
				.faq__item__question
					span.faq__item__indicator Q:
					p.faq__item__question__text
						| Integer rutrum ante eu lestibulum libero nisl porta vel scelerisque eget malesuada at neque. Vivamus eget nibh?
				.question-line
				.faq__item__answer
					span.faq__item__indicator A:
					p.faq__item__answer__text
						| Donec eget tellus non erat lacinia fermentum. Donec in velit vel ipsum auctorulvinar. Proin ullamcorper urna et tibulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod consequat ante. Lorem ipsum dolor sit amet consectetuer adipiscing elit. Pellentese sed dolor. Aliquam congue fermentum nisl. Mauris accumsan nullael diam. Sed in lacus ut enim adipiscing aliquet. Donec eget tellus non erat lacinia fermentum. Donec in velit vel ipsum auctorulvinar. Proin ullamcorper urna et tibulum iaculis lacinia est.
