extends ../_layouts/main
block inHead
	link(rel = "stylesheet" href = "css/testimonials.css")
	title Testimonials

block content
	.breadcrumbs
		.container
			.breadcrumbs__item Home
	h1.testimonials-header
		.container
			| Testimonials
	.container
		.testimonials
			.testimonials-content
				.testimonials__cards
					.testimonials__card
						.testimonials__card__content
							img.round.testimonials__card__img(src='img/card1.png' alt='photo')
							.testimonials__card__context
								p.testimonials__card__context__text
									| Ut viverra mauris justo, quis auctor nisi. Suspendisse sit amet diam diam, eget volutpat lacus. Vestibulum faucibus scelerisque nisl vitae scelerisque. Sed tristique metus eu quam viverra malesuada. Cras porta eros nec libero quis bibendum sed faucibus felis fringilla.
								h6.testimonials__card__context__author Marco Polo,
								span.testimonials__card__context__author-job
									| partner sales.
					// //card
					.testimonials__card
						.testimonials__card__content
							img.round.testimonials__card__img(src='img/card2.png' alt='photo')
							.testimonials__card__context
								p.testimonials__card__context__text
									| Ut viverra mauris justo, quis auctor nisi. Suspendisse sit amet diam diam, eget volutpat lacus. Vestibulum faucibus scelerisque nisl vitae scelerisque. Sed tristique metus eu quam viverra malesuada. Cras porta eros nec libero quis bibendum sed faucibus felis fringilla.
								h6.testimonials__card__context__author Marco Polo,
								span.testimonials__card__context__author-job
									| partner sales.
					// //card
					.testimonials__card
						.testimonials__card__content
							img.round.testimonials__card__img(src='img/card3.png' alt='photo')
							.testimonials__card__context
								p.testimonials__card__context__text
									| Ut viverra mauris justo, quis auctor nisi. Suspendisse sit amet diam diam, eget volutpat lacus. Vestibulum faucibus scelerisque nisl vitae scelerisque. Sed tristique metus eu quam viverra malesuada. Cras porta eros nec libero quis bibendum sed faucibus felis fringilla.
								h6.testimonials__card__context__author Marco Polo,
								span.testimonials__card__context__author-job
									| partner sales.
					// //card
					.testimonials__card
						.testimonials__card__content
							img.round.testimonials__card__img(src='img/card4.png' alt='photo')
							.testimonials__card__context
								p.testimonials__card__context__text
									| Ut viverra mauris justo, quis auctor nisi. Suspendisse sit amet diam diam, eget volutpat lacus. Vestibulum faucibus scelerisque nisl vitae scelerisque. Sed tristique metus eu quam viverra malesuada. Cras porta eros nec libero quis bibendum sed faucibus felis fringilla.
								h6.testimonials__card__context__author Marco Polo,
								span.testimonials__card__context__author-job
									| partner sales.
					// //card
		aside
			.aside-categories
				h5.aside-list-header Categories
				ul.aside-list
					li.aside-list__item
						a.aside-list__item__link(href='#')  Eurasia for your trips
					li.aside-list__item
						a.aside-list__item__link(href='#') North America and USA
					li.aside-list__item
						a.aside-list__item__link(href='#') South America and Japan
					li.aside-list__item
						a.aside-list__item__link(href='#') Australia &amp; Antarctica
			// //categories
			.aside-archives
				h5.aside-list-header Archives
				ul.aside-list
					li.aside-list__item
						a.aside-list__item__link(href='#')  September 2014
					li.aside-list__item
						a.aside-list__item__link(href='#') August 2014&#x9;
					li.aside-list__item
						a.aside-list__item__link(href='#') July 2014
					li.aside-list__item
						a.aside-list__item__link(href='#') March 2014
					li.aside-list__item
						a.aside-list__item__link(href='#') February 2014
			// //Archives
			.aside-recent-posts
				h5.aside-list-header Recent Posts
				.aside-recent-posts__posts
					| .aside-recent-posts__posts__post
			// //Archives
